@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.navHeader{
  color: crimson;
}
.landingHeader{
  font-weight: bold;
}
.userBox{
  padding: 50px 25px;
  margin-top: 25px;
}
.addUserBtn{
  background-color: crimson;
  color: white;
}
.functionalBtns{
  background-color: crimson;
  color: white;
}
.functionalBtns:hover{
  color: white;
}
.newUserHeader{
  color: crimson;
}
.formContainer{
  padding: 45px 15px;
  border-radius: 15px;
  margin-top: 75px;
  
}
.newFormSubmitBtn{
  background-color: crimson;
  color: white;
}
.newFormSubmitBtn:hover{
  color: white;
}
.formBox{
  border: 1px solid white;
  padding: 25px;
}
.addBtn{
  margin-left: 10px;
  font-size: 38px;
}
.updateViewBtn{
  background-color: crimson;
  color: white;
}
.updateViewBtn:hover{
  background-color: white;
  color: crimson;
}